menu "RC"
    menuconfig COMMON_RC
        bool "Common RC drivers"
        default n
        select DRIVERS_RC_CRSF
        select DRIVERS_RC_DSM
        select DRIVERS_RC_GHST
        #select DRIVERS_RC_PPM
        select DRIVERS_RC_SBUS
        select DRIVERS_RC_ST24
        select DRIVERS_RC_SUMD
        ---help---
            Enable default set of RC drivers
    rsource "*/Kconfig"
endmenu
